<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <!-- <link rel='stylesheet' href='/stylesheets/style.css' /> -->
  </head>
  <body>
      this is index page for <%= projectName %>.
      <ul>
        <%arr.forEach(item=>{%>
          <li><%=item%></li>
        <%})%>
      </ul>
  </body>
</html